
    <section id="inicio">
        <div class="presentacion">
            <p class="bienvenida">3x2 en shorts y ropa de baño</p>
            <h2>Hombre, mujer y niños, ¡combínalos como quieras!</h2>
            <p class="descripcion">Las tendencias del momento </p>
            <a routerLink="/dashboard/servicios">Ir a servicios</a>
        </div>
    </section>

    <section id="portfolio">
        <h3 class="titulo-seccion">Elige !!</h3>
        <div class="fila">
            <div class="proyecto">
                <div class="overlay"></div>
                <img src="../../../assets/dist/img/hombre.webp" alt="">
                <div class="info">
                    <h4>Disfruta del verano</h4>
                    <p>Ropa de baño desde S/39.95.</p>
                </div>
            </div>
            <div class="proyecto">
                <div class="overlay"></div>
                <img src="../../../assets/dist/img/mujer.webp" alt="">
                <div class="info">
                    <h4>¡Es hora de celebrar! </h4>
                    <p>Deja que tu estilo brille.</p>
                </div>
            </div>
            <div class="proyecto">
                <div class="overlay"></div>
                <img src="../../../assets/dist/img/niños.webp" alt="">
                <div class="info">
                    <h4>Polos de temporada</h4>
                    <p>Desde S/17.95.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="navidad">
        <div class="">
            <h2>!Hasta 60% off¡</h2>
            <p class="descripcion">Aprovecha SALE Navidad H&M Home.</p>
        </div>
    </section>

    <div class="suscripcion">
        <h4>SE DE LOS PRIMEROS EN SABERLO</h4>
        <span>Suscríbete para recibir novedades Lee nuestra política de privacidad aquí</span><br>
        <input type="email" placeholder="Email">
        <button type="button" class="btn btn-dark">SUSCRIBIR</button>
    </div>

